* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

.darkMode {
    background-color: black;
    color: white;
}

/* start header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header__nav {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

.header__logo a {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.header__content .header__search-bar {
    display: flex;
    flex: 1;
    margin: 0 auto;
}

.header__search {
    position: relative;
}

.header__content .header__search-input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 1rem;
    color: #161c2db3;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
    right: 73px;
    background: #fff;
    outline: 0;
    border: 1px solid #fff;
}

.header__search i, .header__darkMode i, .header__menu {
    position: absolute;
    right: 93px;
    top: 15px;
    font-size: 0.9375rem;
}

.header__search i {
    cursor: pointer;
}

.header__darkMode {
    position: absolute;
    right: 100px;
    top: 40px;
    text-align: center;
}

.header__darkMode i {
    color: #fff;
    font-size: 1.5rem;
}

.header__menu {
    position: absolute;
    right: 140px;
    top: 40px;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #fbfdfb;
    font-size: 1.95em;
    padding: 0 8px;
}

.header__menu i {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
/* end header */

/* start overlay */
.header__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
    z-index: 999;
}

.header__overlay-scale {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.header__openbtn {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s;
}

.header__overlay .header__closebtn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #f60;
    color: #fff;
    border-radius: 6px;
    font-size: 1.4375rem;
}

.header__overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.header__overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    display: block; 
    transition: 0.2s; 
}

.header__overlay a:hover, .header__overlay a:focus {
    color: #f60;
}
  
/* @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 40px;
        top: 40px;
        overflow: hidden;
        border: none;
        background: #f60;
        color: #fff;
        border-radius: 6px;
        font-size: inherit;
    }
} */
/* end overlay */

/* start carousel */
.carousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
      url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
    height: 700px;
}

.carousel .carousel__content {
    display: grid;
    align-items: center;
    height: 100%;
}

.carousel__content .carousel__info {
    max-width: 600px;
    text-align: left;
}

.carousel__content .carousel__info h3 {
    font-size: 3.2rem;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.carousel__content .carousel__info p {
    font-size: 1rem;
    line-height: 28px;
    color: #fff;
}

.carousel__info button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 700;
    border-radius: 8px;
    transition: 0.5s all;
}

.carousel__info button:hover {
    background: #fff;
    color: #f60;
}

.carousel__info button i {
    padding-left: 10px;
    font-size: 0.9rem;
}
/* end carousel */

/* start aboutUs */
.aboutUs__left h6 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0px;
}
 
.aboutUs__left h3 {
    font-size: 2.375rem;
    line-height: 48px;
    font-weight: 600;
}

.aboutUs .row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.aboutUs__right p {
    font-size: 1.125rem;
    line-height: 28px;
    color: #161c2db3;
}
/* end aboutUs */

/* start inforRestaurants */
.inforRestaurants {
    background: #f60;
}

.inforRestaurants .row {
    margin-right: 0;
    margin-left: 0;
}

.inforRestaurants .col:hover .inforRestaurants__icon i {
    color: #ffc600;
    transition: 0.3s ease-in-out;
}

.inforRestaurants__img {
    background: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    min-height: 600px;
}

.inforRestaurants__infor h6 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0px;
}

.inforRestaurants__infor h3 {
    color: #232121;
    font-size: 2.2rem;
    line-height: 48px;
    font-weight: 600;
}

.inforRestaurants__infor p {
    color: #ffdfc9;
}

.inforRestaurants__icon {
    background: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.inforRestaurants__icon i {
    color: #f60;
    font-size: 1.5625rem;
    line-height: 70px;
}

.inforRestaurants__subscribe a {
    color: #232121;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 1.25rem;
    text-decoration: none;
}

.inforRestaurants__subscribe p {
    color: #ffdfc9;
}
/* end inforRestaurants */

/* start categories */
.categories {
    background: #f7f7f7;
}

.categories__title h6 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f60;
    display: block;
    font-family: 'Pacifico', cursive;
}
 
.categories__title h3 {
    font-size: 2.375rem;
    line-height: 48px;
    font-weight: 600;
}

.categories__img {
    position: relative;
}

.categories__img img {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
    max-width: 100%;
    height: auto;
}

.categories__img:hover {
    opacity: 0.85;
    transition: all 0.4s;
}

.categories__img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.categories__info {
    position: absolute;
    left: auto;
    bottom: 0;
    width: 95%;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    opacity: 1;
    transition: all 0.4s;
}

.categories__info h4 {
    font-size: 1.375rem;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.categories__info h6 {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 25px;
    font-weight: 600;
    color: #ffc600;
    opacity: 0.9;
    letter-spacing: 1px;
}
/* end categories */

/* start features */
.features__item {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
}

.features__item:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.features__icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #8273fc0d;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.features__item:hover .features__icon {
    background-color: #ff6600;
    transition: 0.3s ease-in-out;
}

.features__icon i {
    color: #ff6600;
    font-size: 1.5625rem;
    line-height: 70px;
}

.features__item:hover .features__icon i {
    color: #fff;
    transition: 0.3s ease-in-out;
}

.features__title p {
    font-size: 1.125rem;
    line-height: 28px;
    margin-bottom: 0;
}

.features__title a {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
    text-decoration: none;
}

.features__title a:hover {
    color: #f60;
}

.features p {
    font-size: 1rem;
    line-height: 28px;
    color: #161c2db3;
    font-family: 'Quicksand', sans-serif;
}
/* end features */